<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} | ИС Кафедра</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  {% block extracss %}{% endblock %}
</head>
<body>
    <header>
      <nav class="navbar">
        <div class="nav-left">
          <span><a href="{{url_for('index')}}">Кафедра "Информационно-коммуникационные системы и программная инженерия"</a></span>
        </div>
        <div class="nav-right">
          <ul>
            <li><a href="{{url_for('rating.awards_list')}}">Рейтинг</a></li>
            <li><a href="{{url_for('tasks.list_tasks')}}">Таск менеджер</a></li>
            <li><a href="{{url_for('documents.documents')}}">Документы</a></li>
            <li><a href="{{url_for('web_news.list_news')}}">Информация</a></li>
            <li><a href="{{url_for('web_meetings.list_meetings')}}">Заседания</a></li>
            <li><a href="{{url_for('users.get_profile')}}">Профиль</a></li>
            <li><a href="{{url_for('auth.logout')}}">Выход</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Отображение flash сообщений -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flash-messages">
            {% for category, message in messages %}
              <div class="flash-message {{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

  <div class="container">
    {% block content %}{% endblock %}
    </section>
    
  </div>
  {% block modals %}{% endblock %}
  <script src="/static/js/scripts.js"></script>
  {% block extrajs %}{% endblock %}
</body>
</html>
