{% extends 'base.html' %}

{% block content %}
  <section class="task-section">
    <h2>{% block title %}Детали задачи{% endblock %}: {{ task.title }}</h2>
    <p><strong>Описание:</strong> {{ task.description }}</p>
    {% if is_assigned %}
    <p><strong>Статус:</strong>
            <select style="width: auto;" autocomplete="off" onchange="updateTaskStatus(this, {{task.id}})">
                {% if user_assignment and user_assignment.status %}
                <option {% if user_assignment.status == 'не начата' %}selected{% endif %}>Не начата</option>
                <option {% if user_assignment.status == 'в работе' %}selected{% endif %}>В работе</option>
                <option {% if user_assignment.status == 'завершена' %}selected{% endif %}>Завершена</option>
                {% else %}
                <option selected>Не начата</option>
                <option>В работе</option>
                <option>Завершена</option>
                {% endif %}
            </select>
        </p>
    {% endif %}
    <p><strong>Приоритет:</strong>
        {% if task.deadline_at < today and (is_assigned and task.assignments[0].status != 'завершена') %}
            <span class="status high">Дедлайн просрочен</span>
        {% endif %}
        {% if task.priority == 'low' %}
            <span class="status low">Низкий приоритет</span>
        {% elif task.priority == 'medium' %}
            <span class="status medium">Средний приоритет</span>
        {% else %}
            <span class="status high">Высокий приоритет</span>
        {% endif %}
    </p>
    <p><strong>Дата начала:</strong> {{ task.starts_at.strftime('%d.%m.%Y') }}</p>
    <p><strong>Дата выполнения:</strong> {{ task.deadline_at.strftime('%d.%m.%Y') }}</p>

    {% if not task.is_personal and user_role.name == 'Руководитель' %}
    <h3>Исполнители:</h3>
    <ul>
      {% for assignment in assignees %}
        <li>{{ assignment.user.name }} | 
          <strong>Прогресс:</strong>
              <span>{{ assignment.status }}</span>
        </li>
      {% else %}
        <p>У этой задачи нет исполнителей.</p>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="view-details">
      <a href="{{ url_for('tasks.list_tasks') }}" class="view-details-btn">Назад к задачам</a>
      <a href="{{ url_for('tasks.calendar') }}" class="view-details-btn">Назад к календарю</a>
      {% if user_role.name == 'Руководитель' %}
        <a href="{{ url_for('tasks.generate_task_report', task_id=task.id) }}" class="view-details-btn">Сгенерировать отчёт</a>
      {% endif %}
    </div>
  </section>
{% endblock %}